{% extends 'base/base.html' %}
{% block content %}
<div class="container">


<h1 style="text-decoration: dotted;">Leave A Message.</h1>
<div class="btn-success">
    {% if msg %}
    <p>Dear {{agent.first_name}}, {{msg}} </p>
    {% endif %}
</div>

<div>
    <form action="{% url 'base:lam' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="title">
            <h2>TITLE:</h2>
        </label>
        </div>
        <div class="form-group">
            <input id="title" type="text" name="title" placeholder="Message Title" class="form-control" required minlength="1" maxlength="20">
        </div>
        <div>
            <label for="message">
            <h2>Your Message:</h2>
        </label>
        </div>
        <div>
            <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="LEAVE A MESSAGE..." required minlength="1" maxlength="1000"></textarea>
        </div>
        <input type="submit" class="btn btn-outline-success btn-block">
    </form>

</div>
</div>
{% endblock %}