{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="padding: 10%;">
    {% block content %}
    {{err}}
    <p>Dear {{agent.first_name}} {{agent.last_name}}, your documents are now being reviewed. This process generally
        takes 2,3 days, we will contact you concerning any other information or clarification.</p>
    {% endblock %}
</body>

</html>