{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<script>
    function AddBank() {
        document.getElementById('bank').style.display = 'block';
    }

    function Deposit(){
        document.getElementById('depo').style.display = 'block';
    }
</script>

<div class="container" style="background-color: white;">
    <div style="color: red;"> {{err}} </div>
    <h5>Welcome to your panel, {{agent.first_name}}. </h5>
    <br>
    <h5>Subscription panel</h5>

    <div style="position: relative;">
        <p>
            <small>Available Balance</small> <br>
            $0.00 

        </p>
        <button onclick="Deposit()" style="position: absolute; top: 0; right: 0;" class="btn btn-success">
            Deposit
        </but>
    </div>

    <div style="padding: 10%; display: none;" id="depo">
        To make a deposit, scroll to the bottom of this page, select an account and proceed to submit a deposit request to your allocated account official, {{agent.cus_care}}. 
    </div>

  

    <div class="verified">
        <table>
            <tr>
                <td> &nbsp;
                    <img style="width: 30px;" src="/static/base/images/tick.jpg">
                    &nbsp;
                </td>
                <td>

                    <b>
                        The verification process of your account has been completed!
                    </b>
                </td>
            </tr>
        </table>

    </div>
    <p>
        Please note that your account official may contact you if any information is needed according to the
        regulations.
    </p>


    <div>
        <h5>Available bank account(s)</h5>
        <form action="{% url 'base:depo' %}" method="post">
            {% csrf_token %}
        {% for bank in banks %}
        <div>
            <table>
                <tr>
                    <td>
                        <input type="radio" name="bank" value="{{bank.account_number}}" id="bnk" checked> &nbsp;


                    </td>
                    <td>
                        <label for="bnk"> {{bank.account_number}} <br> {{bank.account_name}} <br> {{bank.bank_name.bank_name}}
                        </label>
                    </td>
                </tr>


        </table>
        </div>
        {% endfor %}
        <input type="number" name = 'amount' placeholder="Enter the amount you would like to deposit..." class="form-control" required>
        <br>
        <input type="submit" class="btn btn-block btn-success" value="Proceed with deposit...">
        
        </form>
        
    </div>
    <br>

    <button onclick="AddBank()" style="width: 90%; margin-left:5%; padding: 20px; border-style: groove; " class="btn btn-outline-success">
        <h5>
            Add new Bank Account...
        </h5>


    </button> <br>
    <small>You cannot add more than 3 accounts else you perform an internal upgrade. Message your account advisor for
        more information.</small> <br>
        <small>Do not register 2 bank accounts with the same name.</small>
    <br>
    <br>

  


    <div id="bank"
    style="background-color: rgba(100, 200, 100, 0.9); z-index: 1; position: absolute; top: 30%; display: none; height: 800px; width: 100%;">
    <h1 style="font-style: italic; font-family: Helvetica, Arial,  sans-serif;"><span
            style="color: red;">*</span>Add
        bank account<span style="color: red;">*</span></h1>
    <h2>
        Bank Account Name must match "{{agent.first_name}} {{agent.last_name}}"
    </h2>
    <form action="{% url 'base:pending_bank' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="bank_name">Bank Name:</label>


            <select class="form-control" id="bank_name" name="bank_name">
                <option value="001">CENTRAL BANK OF NIGERIA</option>
                <option value="011">FIRST BANK OF NIGERIA PLC</option>
                <option value="023">NIGERIA INTERNATINAL BANK (CITIBANK)</option>
                <option value="030">HERITAGE BANK</option>
                <option value="032">UNION BANK OF NIGERIA PLC</option>
                <option value="033">UNITED BANK FOR AFRICA PLC</option>
                <option value="035">WEMA BANK PLC</option>
                <option value="044">ACCESS BANK NIGERIA LTD</option>
                <option value="050">ECOBANK NIGERIA PLC</option>
                <option value="057">ZENITH INTERNATIONAL BANK LTD</option>
                <option value="058">GUARANTY TRUST BANK PLC</option>
                <option value="060002">FBNQuest Merchant Bank Limited</option>
                <option value="068">STANDARD CHARTERED BANK NIGERIA LTD</option>
                <option value="070">FIDELITY BANK PLC</option>
                <option value="076">SKYE BANK PLC</option>
                <option value="082">KEYSTONE BANK LTD</option>
                <option value="090118">IBILE MFB</option>
                <option value="090121">HASAL MICROFINANCE BANK</option>
                <option value="100">SUNTRUST BANK</option>
                <option value="101">PROVIDUS BANK</option>
                <option value="214">FIRST CITY MONUMENT BANK</option>
                <option value="215">UNITY BANK PLC</option>
                <option value="221">STANBIC IBTC BANK PLC</option>
                <option value="232">STERLING BANK PLC</option>
                <option value="301">JAIZ BANK PLC</option>
                <option value="327">PAGA</option>
                <option value="502">RAND MERCHANT BANK</option>
                <option value="526">PARALLEX MFB</option>
                <option value="552">NPF Microfinance Bank</option>
                <option value="559">CORONATION MERCHANT BANK</option>
                <option value="560">Page MFBank</option>
                <option value="561">New Prudential Bank</option>
                <option value="601">FSDH MERCHANT BANK LIMIT</option>
                <option value="608">FINATRUST MICROFINANCE BANK</option>
                <option value="090267">KUDA MICROFINANCE BANK</option>
                <option value="305">OPAY</option>
            </select>

        </div>
        <label for="account_number">Account Number:</label>
        <input type="number" name="account_number" id="account_number" class="form-control" required minlength="11"
            oninput=" if (this.value.length > 11) this.value = this.value.slice(0, 11);">


            <label for="account_name">Account Name:</label>
            <input type="text" name="account_name" id="account_name" class="form-control" required maxlength="50"
                oninput=" if (this.value.length > 50) this.value = this.value.slice(0, 50);">




        <div class="form-group">
            <label for="type">Account Type</label>
            <select class="form-control" id="type" name="type">
                <option value="Savings">Savings</option>
                <option value="Current">Current</option>

            </select>
        </div>

        <div>
            <input type="submit" value="Register Bank Account..." class="btn btn-block btn-success">
        </div>

    </form>

</div>


</div>
{% endblock %}